.sidebar {
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 30px;
}

.sidebar h3 {
  color: #fff;
  font-weight: 700;
  font-size: 26px;
}

.sidebar p {
  color: #fff;
  font-weight: 700;
}

.sidebar a {
  color: blue;
}